*{
    font-family: Arial;
    color: blanchedalmond;

}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(7, 7, 7);
}
header{
    height: 150px;
}
header>img{
    
    width: 350px;
    height: 150px;
}
header>h2{
    position: relative;
    margin-left: 40%;
    top: -45%;
    display: inline; 
}
section{
    height: 1000px;
    width: 100%;
    background-position: center center;
    background-image:url(../imagnes/fondo.jpg) ;
    background-repeat: no-repeat;
    background-position-y: 7%;
}
footer{
    height: 130px;
    width: 100%;
    border-top: red solid;
}
footer>img{
    margin-left: 28%;
    margin-top: 0.5%;
    width: 15%;
    left: 30%;
}
.TF{
    position: relative;
    top: -85%;
    left: 39%;   
}
