*{
    font-family: Arial;
    color: blanchedalmond;

    
   
}
body{
    
    background-color: rgba(0, 0, 0, 0.973);
}
header{
    height: 100px;
    
}
section{
    height: 1400px;
   background-color: black;
    
}
footer{
    height: 140px;
    border-top: red solid;
    
}
#imagen{
    width: 250px;
    height: 50px;
    
   
   
}
#titulo2{
    position: relative;
    left: 600px;
    display: inline;   
}
footer>img{
    position:relative;
    width: 15%;
    margin: 0%;
    left: 30%;
    
    
}
footer>h2{
    display: inline;
    position: relative;
    top: -45%;
    left: 28%;
    
}
footer>h3{
    position: relative;
    
    top: -45%;
    left: 43.5%;
}